<div class="video-card">
    <img class="thumbnail" src="/{{thumbnail}}">
    <div class="video-info">
        <p class="video-title">Title: {{title}}</p>
        <a class="viewPostButton" href="/posts/{{id}}">View</a>
    </div>
</div>