<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        {{#each js}}
          <script defer src="/public/js/{{this}}"></script>
        {{/each}}
  </head>
  <body>
      <div id="container">
        {{#if (nonEmptyObject messages)}}
          {{> flashMessage this}}
        {{/if}}
        {{> header}}
        {{> nav}}
        {{{body}}}
        {{> footer}}
  </body>
</html>
