<main>
    <div class="login"><br></br>
    <legend>Login Below:</legend><br></br>
    <form id="loginForm" class="input-form" action="/users/login" method="POST" 
    enctype="application/x-www-form-urlencoded">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required placeholder="Username"><br></br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required placeholder="Password"><br></br>

        <button type="submit">Login</button>
    </form>
</main>
       