<main>
    <form id="post-video" class="input-form"
    action="/posts/create" method="POST" 
    enctype="multipart/form-data">
        <br></br><legend>Create your video post:</legend><br></br>
        <div class="input-group">
            <label for="post-title">Post title: </label>
            <input type="text" 
            name="title" 
            id="post-title" 
            class="text-input post-input-title"
            required placeholder="Post Title"><br></br>
        </div>

        <div class="input-group">
            <label for="post-desc">Post description: </label>
            <input type="text" 
            name="description" 
            id="post-desc"
            class="text-input post-input-desc" 
            required placeholder="Post Description"><br></br>
        </div>

        <div class="input-group">
            <label>Upload your video here:</label><br></br>
            <input type="file" 
            id="vid-select" 
            name="uploadVideo"
            class="text-input post-input-video" 
            required placeholder="file">
        </div>

        <br></br>
        <input type="checkbox" 
        id="accept Acceptable Use Policy" 
        name="accept Acceptable Use Policy" 
        required placeholder="accept Acceptable Use Policy">
        <label for="accept Acceptable Use Policy">User accepts Acceptable Use Policy</label>
        <br></br>
        <input type="Submit" value="Upload">
    </form>
</main>
