<main>
    <div id="profilehtmlcontents">
        <div id="gifdivprofile">
        <br></br><p>Profile Image:</p>
        <img src="https://media.discordapp.net/attachments/987808587122372648/1084226916401291416/1632463269322448897.gif"
            alt="nuhuh"
            height="300px"
            width="300px"/>
            </div>
        <p>Username:</p>
        <a>{{user.username}}</a>
        <p>User's Email:</p>
        <a href="{{user.email}}">{{user.email}}</a>
        <p>List of user's posts:</p>
        {{#each posts}}
            {{> card this}}
        {{/each}}
    </div><br></br>
</main>
      